@import "./variable";

.blog-banner {
  position: relative;

  .translucent-dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 75px !important;
  }

  .content-section {

    .title {
      color: #343434;
      font-size: 4vw;
      font-weight: 700;
      text-align: left;
      padding-top: 150px;
      line-height: 4.1vw;
    }
  }
}

.blogs-section {
  padding: 100px 20px 200px 20px;

  .blog-wrapper {
    position: relative;

    .image-wrapper {
      height: 300px;
      background-color: #efefef;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }

    .content-wrapper {
      padding: 14px;
      margin-bottom: 30px;

      .heading {
        font-size: 16px;
        color: #343434;
      }

      .posted-on {
        font-size: 13px;
        line-height: 13px;
        color: #a1a1a1;
        font-style: italic;
      }

      .description {
        color: #343434;
        font-size: 12px;
        margin-top: 8px;
      }

      .read-more {
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

.blog-detail-section {
  .author-section {
    margin: 0;


    .image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #efefef;
      display: inline-block;
      margin: 10px 0;
    }

    .details {
      display: inline-block;
      padding: 10px 10px 0 10px;
      vertical-align: top;

      .name {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        color: $theme-text-normal;
      }

      .timestamp {
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        color: #888888;
      }
    }


  }

  .description {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: $theme-text-normal;
    margin: 30px 0;

    .image-wrapper {
      text-align: center;
      margin: 40px 0;
      img {
        max-width: 90%;
        margin: auto;
      }
    }
  }
}
