@import "./variable";

.home-third-section-wrapper {
  position: relative;
  text-align: center;
  background-size: cover;

  .translucent-dark-overlay {
    padding: 100px 0;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;

  }
  .title {
    font-size: 35px;
    color: white;
    line-height: 60px;
  }

  .sub-title {
    font-size: 16px;
    color: white;
  }

  .content-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .4);
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .bubble-wrapper {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .right-section {
      flex: 1;
      background: #2b2b2b;

      .project-name {
        font-weight: 600;
        position: relative;
        padding: 10px;
        text-align: left;
        font-size: 16px;
        padding-right: 20px;
        display: flex;

        .text {
          display: inline-block;
          color: white;
          font-size: 18px;
          padding-top: 20px;
          padding-left: 10px;
          font-weight: 600;
        }

        &.theme-yellow {
          color: white;
          background: rgba(242, 209, 84, 1);
        }

        .logo {
          display: inline;
          padding: 0 20px 0 0;

          img {
            height: 50px;
          }
        }

        .project-tag-line {
          display: inline-block;
          flex: 1;

          .text {
            padding-left: 7px;
            color: white;
            font-weight: 400;
          }

          img {
            float: right;
            height: 70px;
          }
        }
      }


      .image-section {

        display: flex;
        padding: 0;
        padding-bottom: 40px;

        .description-wrapper {
          flex: 1;
          padding: 0 10px;

          .overview {
            padding: 10px;
            text-align: left;
            border-radius: 10px;

            .para {
              max-height: 286px;
              overflow: hidden;
              margin-bottom: 15px;
            }

            .title {
              color: #666666;
              font-weight: 600;
              font-size: 20px;

              line-height: 25px;
            }

            color: white;
          }

          .image-logo {
            width: 90%;
          }

          .description {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            color: white;
            padding: 20px;
          }

          .read-more-text {
            font-size: 14px;
            font-weight: 400;
            color: #de6e3d;
            text-align: left;
          }
        }

        .image-wrapper {
          flex: 1;
          padding: 10px;
          padding-right: 20px;

          .scale-card {
            background: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 500px;
            margin: auto;
            color: #666666;

            .title {
              text-align: center;
              font-size: 30px;
              color: #343434;
              font-weight: 600;
            }

            .list {
              .list-item {
                text-align: center;

                &:not(:last-child) {
                  border-bottom: 1px solid #dddddd;
                }

                padding: 10px;

                .count {
                  font-size: 32px;
                  font-weight: 800;
                  padding: 0 10px;
                  font-family: 'impact' !important;
                  letter-spacing: 2px;
                }

                .description {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }

    .text-section {
      text-align: left;
      max-width: 400px;

      .list-wrapper {
        padding: 20px 0;

        .list-item {
          font-size: 20px;
          color: #aaaaaa;
          padding: 20px;
          cursor: pointer;

          &.active {
            background: #2b2b2b;
            color: #de6e3d;
            font-weight: 500;
          }
        }
      }
    }

  }

  .content-section-small {
    margin-top: 10px;

    .card-outer-wrapper {
      padding: 10px;
      padding-bottom: 0;

      margin-bottom: 50px;
      margin-top: 5px;

      .card-wrapper {

        background: white;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 30px;
        box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .4);
        position: relative;
        margin: auto;

        .title {
          text-align: center;
          font-size: 35px;
          font-weight: 500;
          color: $theme-text-normal;
        }

        .image {
          max-height: 163px;

          img {
            height: 50px;
          }
        }

        .description {
          text-align: left;
          font-size: 14px;
          font-weight: 400;
          color: $theme-text-normal;
          margin: 30px 0;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }

        //.bottom-slide-pagination-wrapper {
        //  position: absolute;
        //  bottom: 40px;
        //  left: 0;
        //  right: 0;
        //
        //  .bottom-slide-pagination {
        //    .page-indicator {
        //      width: 10px;
        //      height: 10px;
        //      background: #eeeeee;
        //      border-radius: 50%;
        //      display: inline-block;
        //      margin: 0 4px;
        //      cursor: pointer;
        //
        //      &.active {
        //        background: $primary;
        //      }
        //    }
        //  }
        //}
      }
    }

    .text-section-wrapper {
      .list-item {
        font-size: 20px;
        color: #888888;
        font-weight: 600;
        text-align: left;
        padding: 0 15px;
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .title {
      font-size: 20px !important;
      line-height: 34px;
      padding: 0 10px;
    }
    .sub-title {
      padding: 0;
      margin-top: 10px;
      color: #777777;
      font-weight: 600;
      text-align: left;
    }
    .translucent-dark-overlay {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .content-section {
      margin-top: 20px !important;
    }
    .image-section {
      padding-top: calc((500px - 45vw) / 2);

      .image-wrapper {

      }
    }
  }
}

.navigation-bubble {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #de6e3d;

  &.white {
    background: #ffffff;
  }

  display: inline-block;
  margin: 0 3px;

  &.active {
    width: 20px;
    -webkit-animation-name: bubbleActiveTransition; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: bubbleActiveTransition;
    animation-duration: 0.5s;
  }

  &.in-active {
    width: 10px;
    cursor: pointer;
    -webkit-animation-name: bubbleInActiveTransition; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: bubbleInActiveTransition;
    animation-duration: 0.5s;
  }

  &.large {
    transform: scale(1.4);
    margin: 0 7px;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bubbleActiveTransition {
  0% {
    width: 10px;
  }
  100% {
    width: 20px;
  }
}

/* Standard syntax */
@keyframes bubbleActiveTransition {
  0% {
    width: 10px;
  }
  100% {
    width: 20px;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bubbleInActiveTransition {
  0% {
    width: 20px;
  }
  100% {
    width: 10px;
  }
}

/* Standard syntax */
@keyframes bubbleInActiveTransition {
  0% {
    width: 20px;
  }
  100% {
    width: 10px;
  }
}

.home-domain-page-indicator-active {
  background: #DE6E3D !important;
}

.home-domain-page-indicator {
  width: 10px;
  height: 10px;
  background: #eeeeee;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.home-domain-bullets {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: center;
  padding: 10px 50px 40px 10px;
}
