@import "./variable";

.home-second-section-wrapper {
  padding: 50px 0;
  text-align: center;

  .title {
    font-size: 38px;
    color: $theme-text-normal;
    letter-spacing: 0.47px;
  }

  .sub-title {
    font-size: 16px;
    color: $theme-text-light
  }

  .content-section {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 30px;

    &.first {

    }

    .image-section {
      flex: 1;
      position: relative;

      min-height: 40vw;

      .image-background-section {
        position: absolute;
        top: calc(40vw / 2);
        left: 0;
        width: calc(40vw + 80px);
        height: calc((40vw) / 2);
        background: #efefef;
        z-index: -1;
      }

      .image-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 30vw;
        width: 30vw;
        top: 10vw;
        left: calc(10vw);




        &#our-image-approach-wrapper {

          width: calc(40vw);
          height: calc(40vw);
          top: 0;
          left: -10px;
        }
        @media only screen and (min-width: 980px) {
          &.enable-animation {
            width: calc(40vw);
            height: calc(40vw);
            top: 0;
            left: 0;
            -webkit-animation-name: imageTransition; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1.7s; /* Safari 4.0 - 8.0 */
            animation-name: imageTransition;
            animation-duration: 1.7s;
          }
        }
        @media only screen and (max-width: 980px) {
          width: calc(80vw) !important;
          height: calc(80vw) !important;

        }

      }
    }

    .text-section {
      flex: 1;
      text-align: left;
      padding: 20px;

      .title {
        font-size: 40px;
        line-height: 65px;
        font-weight: 600;
        margin-bottom: 20px;
        color: $theme-text-normal;
      }

      .sub-title {
        font-size: 24px;
        font-weight: 600;
      }

      .description {
        max-width: 480px;
        font-size: 16px;
      }

      &#our-vision-text-section {
        padding-top: calc((40vw - 500px) / 2) !important;

        //.title {
        //  font-size: 32px;
        //  color: $theme-text-normal;
        //  line-height: 42px;
        //  padding-right: 20px;
        //}
      }

      &#our-approach-text-section {
        padding-top: calc((35vw - 380px) / 2);
      }
    }

    &.reverse {
      flex-direction: row-reverse;
      margin-right: 30px;

      .image-background-section {
        left: auto;
        right: 0;
      }

      .image-section {
        margin-top: 100px;

        .image-wrapper {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: bottom;
          top: 10vw;
          left: auto;
          right: calc(10vw);
          @media only screen and (min-width: 980px) {
            &.enable-animation {
              top: 0;
              right: 0 !important;
              left: auto !important;
              -webkit-animation-name: imageTransitionReverse; /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 1.7s; /* Safari 4.0 - 8.0 */
              animation-name: imageTransitionReverse;
              animation-duration: 1.7s;
            }
          }


          &#our-image-approach-wrapper {

            width: calc(40vw);
            height: calc(40vw);
          }
        }
      }

      .text-section {
        padding-left: 2vw;
        padding-right: 30px;
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .title {
      font-size: 28px;
      line-height: 34px;
    }
    .content-section {
      margin-top: 20px !important;
      padding: 10px;
    }
    .image-section {
      padding-top: calc((500px - 45vw) / 2);

      .image-wrapper {
        position: initial !important;
      }
    }
  }
  @media only screen and (min-width: 980px) and (max-width: 1335px) {
    .title {
      font-size: 38px;
    }
    .content-section {
      .text-section {

        &#our-vision-text-section {
          padding-top: calc((44vw - 500px) / 2) !important;
        }

        &#our-approach-text-section {
          padding-top: calc((35vw - 480px) / 2);
        }

        .title {
          font-size: 60px;
          line-height: 85px;
        }

        .sub-title {
          max-width: 480px;
        }

        .description {
          font-size: 20px;
          line-height: 29px;
        }
      }
    }

  }
  @media only screen and (min-width: 1336px) and (max-width: 1440px) {
    .title {
      font-size: 38px;
    }
    .content-section {
      .text-section {

        &#our-vision-text-section {
          padding-top: calc((40vw - 500px) / 2);
        }

        &#our-approach-text-section {
          padding-top: calc((35vw - 480px) / 2);
        }

        .title {
          font-size: 60px;
          line-height: 85px;
        }

        .sub-title {
          max-width: 480px;
        }

        .description {
          font-size: 20px;
          line-height: 29px;
        }
      }
    }

  }
  @media only screen and (min-width: 1441px) {
    .title {
      font-size: 44px;
    }
    .content-section {
      .text-section {

        &#our-vision-text-section {
          padding-top: calc((45vw - 640px) / 2);
        }

        &#our-approach-text-section {
          padding-top: calc((35vw - 520px) / 2);
        }

        .title {
          font-size: 100px;
          line-height: 120px;
        }

        .sub-title {
          max-width: 480px;
        }

        .description {
          font-size: 20px;
          line-height: 29px;
        }

        .sub-title {
          font-size: 30px;
        }
      }
    }
  }
  @media only screen and (max-width: 760px) {
    .content-section {
      flex-direction: column;
      margin-top: 60px;

      &.reverse {
        flex-direction: column;
      }

      .image-section {
        .image-wrapper {
          width: calc(100vw - 20px);
          height: calc(100vw - 20px);

          &#our-image-approach-wrapper {

            width: calc(100vw - 20px);
            height: calc(100vw - 20px);
          }

          margin: 0 auto 20px auto;
          background-position: center;
        }

        padding-top: 0;
      }

      .text-section {
        padding: 0 20px;
      }
    }
  }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes imageTransition {
  0% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    left: calc(10vw);
  }
  30% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    left: calc(10vw);
  }
  60% {
    height: 40vw;
    width: 40vw;
    top: 0;
    left: 80px;
  }
  70% {
    height: 40vw;
    width: 40vw;
    left: 80px;
  }
  100% {
    height: 40vw;
    width: 40vw;
    left: 0;
  }
}

/* Standard syntax */
@keyframes imageTransition {
  0% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    left: calc(10vw);
  }
  30% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    left: calc(10vw);
  }
  60% {
    height: 40vw;
    width: 40vw;
    top: 0;
    left: 80px;
  }
  70% {
    height: 40vw;
    width: 40vw;
    left: 80px;
  }
  100% {
    height: 40vw;
    width: 40vw;
    left: 0;
  }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes imageTransitionReverse {
  0% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    right: calc(10vw);
  }
  30% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    right: calc(10vw);
  }
  60% {
    height: 40vw;
    width: 40vw;
    top: 0;
    right: 80px;
  }
  70% {
    height: 40vw;
    width: 40vw;
    right: 80px;
  }
  100% {
    height: 40vw;
    width: 40vw;
    right: 0;
  }
}

/* Standard syntax */
@keyframes imageTransitionReverse {
  0% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    right: calc(10vw);
  }
  30% {
    height: 30vw;
    width: 30vw;
    top: 10vw;
    right: calc(10vw);
  }
  60% {
    height: 40vw;
    width: 40vw;
    top: 0;
    right: 80px;
  }
  70% {
    height: 40vw;
    width: 40vw;
    right: 80px;
  }
  100% {
    height: 40vw;
    width: 40vw;
    right: 0;
  }
}
