@import "./variable";

#home-top-slider-banner-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;

  &.active {
    width: 100%;
    -webkit-animation-name: slideOpenAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
    animation-name: slideOpenAnimation;
    animation-duration: 0.7s;
  }

  .translucent-dark-overlay-banner {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .translucent-dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }

  .slider-content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .left-text-section {
      flex: 1;

      .title {
        color: white;
        font-size: 100px;
        line-height: 121px;
        font-weight: 600;
        margin: 174px 0;
        margin-top: calc(50vh - 220px);
        opacity: 0;
        position: absolute;
        top: 85px;
        right: 0;
        left: 0;

        &.visible {
          opacity: 1;
          -webkit-animation-name: textFadeIn; /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
          animation-name: textFadeIn;
          animation-duration: 1.2s;
        }
      }

      .slider-wrapper {
        height: calc(100vh/1.3);
        max-height: 622px;
        padding: 50px 15px 30px 15px;
        max-width: 970px;
        position: relative;
        background: none;
        margin: auto;
        opacity: 0;
        margin-top: calc((100vh - 622px) / 2);

        .slider-overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;

        }

        .slider {
          height: 100%;
          background: white;
          border-radius: 4px;
          padding: 0;
          position: relative;
          overflow: hidden;

          .animated-section-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .animated-section {
              position: absolute;
              width: 100%;
              height: 100vh;
              left: calc((470px - 50vw));
              top: calc((265px - 50vh));
              background-size: cover;

              &.sliding-out {
                top: calc((265px - 50vh - 622px));
                -webkit-animation-name: animatedSectionAnimation; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
                animation-name: animatedSectionAnimation;
                animation-duration: 0.8s;
              }
            }
          }

          .slider-inner-wrapper {
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
              display: none;
            }

            overflow-x: hidden;
            position: relative;

            .slider-content {
              height: 622px;
              background: white;
            }

            &.added-padding {
              border: 10px solid white;
              -webkit-animation-name: addedBorderAnimation; /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
              animation-name: addedBorderAnimation;
              animation-duration: 0.8s;
            }

            .scrolling-section {
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
            }
          }


        }

        &.visible {
          opacity: 1;
          //
          -webkit-animation-name: sectionZoomInAnimation; /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
          animation-name: sectionZoomInAnimation;
          animation-duration: 1s;
        }
      }

      .content-section {
        max-width: 945px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        padding: 0 10px;

        .content-text {
          flex: 1;
          color: white;
          font-size: 20px;
          font-weight: 400;
          padding: 0 50px;
          max-width: 720px;
          line-height: 24px;
          margin-bottom: 20px;
          min-height: 60px;
          position: relative;
          overflow: hidden;
          text-align: left;

          .inner-content-text {
            position: absolute;
            left: 0;
            right: 0;
            padding: 10px 0;

            &.visible {
              top: 0;
              opacity: 1;
              -webkit-animation-name: textFadeInBanner; /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
              animation-name: textFadeInBanner;
              animation-duration: 0.5s;
            }

            &.hidden {
              top: -70px;
              opacity: 0;
              -webkit-animation-name: textFadeOutBanner; /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
              animation-name: textFadeOutBanner;
              animation-duration: 0.5s;
            }
          }
        }

        .button-section {
          padding-top: 10px;
        }
      }
    }

    .right-text-section {
      flex: 1;
      text-align: right;
    }

    .slide-2 {
      display: flex;

      .image-section {
        height: 300px;
        width: 300px;
        background: #444444;
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .title {
      font-size: 50px !important;
      line-height: 70px !important;
      margin: 80px 0 !important;
    }
    .slider-wrapper {
      height: 400px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;

      .slider {
        padding: 7px !important;
        .slider-inner-wrapper {
          &.added-padding {
            border: none !important;
          }
        }
      }
    }
    .content-section {
      flex-direction: column !important;

      .content-text {
        padding: 0 !important;

        .inner-content-text {
          text-align: center !important;
          padding: 0 20px !important;
          margin-bottom: 30px !important;
          font-size: 16px !important;
        }
      }
    }
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes slideOpenAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  /* Standard syntax */
  @keyframes slideOpenAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes sectionZoomInAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Standard syntax */
  @keyframes sectionZoomInAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes textFadeInBanner {
  from {
    opacity: 0;
    top: 70px;
  }
  to {

    opacity: 1;
    top: 0;
  }
}

/* Standard syntax */
@keyframes textFadeInBanner {
  from {
    opacity: 0;
    top: 70px;
  }
  to {

    opacity: 1;
    top: 0;
  }
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes textFadeOutBanner {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -70px;
  }
}

/* Standard syntax */
@keyframes textFadeOutBanner {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: -70px;
  }
}
