@import "variable";

.team-banner {
  position: relative;
  background-size: cover;
  .translucent-dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .content-section {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    .title {
      color: white;
      font-size: 70px;
      font-weight: 700;
      text-align: center;
      margin-top: 200px;
      line-height: 150px;
    }
  }

  @media only screen and (max-width: 980px) {
    max-height: 270px !important;
  }
}

.team-section {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .popup-content-section {
      background: white;
      position: fixed;
      top: calc((100vh - 675px) / 2);
      right: 0;
      left: calc((100vw - 800px) / 2);
      width: 800px;
      box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
      border-radius: 3px;

      .cross-button {
        position: absolute;
        top: 30px;
        right: 30px;
        border: 2px solid #888888;
        border-radius: 15px;
        width: 28px;
        text-align: center;

        &:hover {
          border: 2px solid $primary;
          cursor: pointer;
        }
      }

      .detail-section {
        padding: 20px;

        .image-section {
          width: 150px;
          height: 150px;
          background-size: cover;
          background-position: center;
          display: inline-block;
        }

        .details {
          display: inline-block;
          vertical-align: top;
          padding: 0 20px;

          .title {
            font-size: 35px;
            color: #343434;
            font-weight: 600;
          }

          .designation {
            font-size: 20px;
            color: $primary;
            font-weight: 400;
            margin-top: -5px;
          }

          .social {
            margin-top: 10px;

            img {
              height: 16px;
            }
          }
        }
      }

      .text-content-section {
        padding: 0 30px 30px 30px;


        width: 100%;
        display: inline-block;
        vertical-align: top;


        .description {
          font-size: 14px;
          color: #343434;
          font-weight: 400;
          margin-top: -5px;
        }

      }

      @media only screen and (max-width: 980px) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        .cross-button {
          top: 5px;
          right: 5px;
        }
      }
    }
  }

  .text-description {

  }

  .team-card-wrapper {
    padding: 5px 20px;
    cursor: pointer;

    &.with-margin {
      margin-top: 50px;
    }

    .image-section {
      height: 270px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #ffffff;
    }

    .content-section {
      padding: 10px 0;

      .name {
        font-size: 24px;
        color: #343434;
        font-weight: 600;

      }

      .designation {
        font-size: 14px;
        color: $primary;
        font-weight: 500;
        margin-top: -5px;
      }

      .social {
        img {
          height: 16px;
        }
      }
    }

    &:hover {
      .image-section {
        box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .2);
      }
    }

    @media only screen and (max-width: 980px) {
      &.with-margin {
        margin-top: 30px;
      }

      .image-section {

      }

      .content-section {

        .name {
          text-align: center;
        }

        .designation {
          text-align: center;
        }

        .social {
          text-align: center;
        }
      }
    }
  }
}
